@font-face {
  font-family: "Roboto";
  src: url("./static/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lusitana";
  src: url("./static/fonts/Lusitana-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "Bungee";
  src: url("./static/fonts/BungeeOutline-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Cinzel";
  src: url("./static/fonts/Cinzel-VariableFont_wght.ttf") format("truetype");
}